<script setup lang="ts">
import { ref } from "vue";
const messages = ref("");
const emit = defineEmits<{
    send: [messages : string],
}>()
function send(){
    emit('send',messages.value)
    messages.value=''
}
</script>

<template>
  <div>
    <input type="text" v-model="messages" @keydown.enter="send"/>
    <button @click="send()">Send</button>
  </div>
</template>

<style scoped>
input,button{
    font-family:'Kanit';
    font-size: 20pt;
}
</style>
